.one{
    width: 15px;
    margin-top: 10px;
    margin-right: 10px;
}
.btnco{
    background-color: #7C4EE4;

}
.btnc{
    background-color: white;
}
.btnc:hover{
    background-color: white;
}
.hero-section {
    padding: 60px 0;
    position: relative;
}

.hero-title {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1;
    color: white;
}

.hero-text {
    font-size: 1.2rem;
    color: white;
    max-width: 500px;
    margin: 30px 0;
}

.download-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    height: 55px;
    max-height: 60px;
    width: 190px;
    transition: transform 0.3s ease;

}

.download-btn:hover {
    transform: translateY(-4px);
}

.imges {
    width: 553px;
    height: 520;

}
.con2{
    background-size: cover;
    border-radius: 11px;
    
}
.tco{
    color: #7C4EE4;
}
.tco:hover{
    color: #7C4EE4;
}
.posi{
    position: relative;
}
.three{
    background-color: white;
    position: absolute;
    left: 650px;
    top: 1100px;
    border-radius: 7px;


}